
.container{
    margin: 24px;
}

img{
    width: 80px;
}
.table-hover tbody tr {
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.table-hover tbody tr:hover {
  background-color: #f1f3f5; /* Light gray background on hover */
  transform: scale(1.01); /* Slight zoom effect */
}